.ant-btn {
  &:hover {
    opacity: 0.8;
  }
}

.ant-collapse {
  .ant-collapse-item-active {
    border-bottom: 1px solid rgb(210 210 210) !important;
    border-radius: 0px !important;
  }

  .ant-collapse-item {
    .ant-collapse-header {
      border-bottom: 1px solid rgb(210 210 210) !important;
      border-radius: 0px !important;
    }
  }
}

.ant-modal-footer {
  margin-top: 0px !important;
}

p {
  margin: 0px;
}

.ant-drawer {
  .ant-drawer-header {
    @media screen and (max-width: 768px) {
      padding: 10px !important;
    }
  }

  .ant-drawer-body {
    @media screen and (max-width: 768px) {
      padding: 20px !important;
    }
  }
}
.ant-btn-primary {
  background: #fcd34d !important;
  color: black !important;
  :active :hover {
    opacity: 0.8 !important;
    background: #fcd34d !important;
    color: black !important;
  }
}
.ant-btn-default:disabled,
.ant-btn-default.ant-btn-disabled {
  cursor: not-allowed;
  border-color: #29a200 !important;
  background: #29a200 !important;
  opacity: 0.5;
  color: white !important;
}
